@model IEnumerable<CareerCloud.Pocos.CompanyJobDescriptionPoco>

@{
    ViewData["Title"] = "CompanyDescription";
}

<h1>Company Description</h1>
<hr />
@{ if (Model.Count() > 0)
    {
        <div>
            <b>
                <a asp-controller="CompanyJob" asp-action="Index"
                   asp-route-id="@Model.FirstOrDefault().CompanyJob.Company">Back to CompanyJob</a>
            </b>
        </div>
    }
}
<hr />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyJob)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescriptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJob.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
